doctype html
html
    head
        title {{title}}
        link(href='css/style.css', rel='stylesheet')
        link(href='css/index.css', rel='stylesheet')
        body
            div.header
                h1 Header loading success
            div.content
                h2#h2-id Bug h2 success loading
                span {{title}}
                span {{articles}}
                button.btn(onclick="window.location.href='/articles/add'") Регистрация
            div.footer
                h1 Footer loading success
                
        script(src='js/main.js')