doctype html
html
    head
        title {{title}}
        link(href='css/style.css', rel='stylesheet')
        link(href='css/index.css', rel='stylesheet')
        body
            div.header
                h1.h1-class Bug loading success
            div.content
                h2#h2-id Bug h2 success loading
                span {{title}}
                span {{articles}}
            div.footer
                
        script(src='js/main.js')