doctype html
html
    head
        title {{title}}
        link(href='../../css/style.css', rel='stylesheet')
        link(href='../../css/article/article.css', rel='stylesheet')
        body
            div(class='header')
                h1.h1-class Articles Document downloading bonjorno!!!